<footer>
	<div>Desenvolvido por Rafael Pedro Pelizza</div>
	<div>
		<mat-chip-listbox aria-label="Dog selection">
			<mat-chip>
				<img
					matChipAvatar
					src="https://material.angular.io/assets/img/examples/shiba1.jpg"
					alt="Photo of a Shiba Inu" />
				Dog one
			</mat-chip>
			<mat-chip color="primary">
				<img
					matChipAvatar
					src="https://material.angular.io/assets/img/examples/shiba1.jpg"
					alt="Photo of a Shiba Inu" />
				Dog two
			</mat-chip>
			<mat-chip color="accent">
				<img
					matChipAvatar
					src="https://material.angular.io/assets/img/examples/shiba1.jpg"
					alt="Photo of a Shiba Inu" />
				Dog three
			</mat-chip>
		</mat-chip-listbox>
	</div>
	<div>@2022</div>
</footer>
