h1 {
	font-size: 175%;
	font-weight: 500;
	margin-bottom: 20px;
	background-color: #233d4a1f;
	padding: 10px 0;
	display: block;
	text-align: center;
	color: #233d4a;
	border-radius: 4px;
}

p {
	color: #585555;
	font-size: 100%;
	line-height: 30px;
}

img {
	width: 100%;
	max-width: 200px;
	height: auto;
	display: block;
	margin: 0 auto;
}
