h1 {
	color: #3f51b5;
	font-size: 250%;
	display: block;
	text-align: center;
	font-weight: 600;
}
p {
	color: #5c5c5c;
	font-size: 100%;
	line-height: 30px;
}

img {
	max-width: 200px;
	display: block;
	margin: 0 auto;
}
