<div class="row">
	<div class="col-12">
		<h1>Operadores RXJS</h1>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<p>
			Bem-vindo ao projeto sobre os operadores do RxJS. Este é um projeto colaborativo, criado para ajudar a
			comunidade a aprender sobre como usar os operadores do RxJS para transformar, filtrar, combinar fluxos de
			dados, etc.
		</p>
		<p>
			Nosso objetivo é fornecer informações precisas e exemplos práticos para ajudar os desenvolvedores a usar os
			operadores do RxJS em suas aplicações.
		</p>
		<p>
			O site é projetado para ser fácil de usar e acessível, com operadores divididos em categorias no menu
			esquerdo e uma busca avançada no cabeçalho para encontrar rapidamente o que você precisa. Com ela, você pode
			pesquisar não somente pelo nome da operação, mas também por palavras-chave, casos de uso, etc..
		</p>
		<p>
			Este projeto é open-source e está disponível no Github, então sinta-se à vontade para cloná-lo, fazer
			contribuições e melhorá-lo. Se você encontrar qualquer problema ou tiver sugestões, por favor, abra uma
			issue ou faça uma pull request.
		</p>
		<p>
			E no rodapé você encontrará informações sobre meu linkedin, github, instagram e meu email, sinta-se a
			vontade para me contatar caso tenha alguma dúvida.
		</p>
		<p>
			Nós apreciamos sua colaboração e esperamos que este projeto ajude a comunidade a aprender e usar os
			operadores do RxJS. Obrigado por visitar.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<img src="assets\rxjs.png" alt="" />
	</div>
</div>
