mat-expansion-panel {
	margin: 0;
	border-bottom: 1px solid #e1e1e1;
	mat-expansion-panel-header {
		height: 45px;
		mat-panel-description {
			flex-grow: initial;
			margin-right: 7px;
		}
	}
	::ng-deep .mat-expansion-panel-body {
		padding: 0;
	}
}

mat-list {
	max-width: 320px;
	padding: 0;
	a {
		font-family: 'Raleway', sans-serif !important;
		text-decoration: none;
		color: #484c5e;
		font-weight: 500;
		mat-list-item {
			height: 0;
			padding: 15px 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			&:hover {
				background-color: #f5f5f5;
				cursor: pointer;
			}
		}
	}
}
