<mat-accordion multi>
	<mat-expansion-panel *ngFor="let operators of pipes">
		<mat-expansion-panel-header>
			<mat-panel-title> {{ operators.group }} </mat-panel-title>
			<mat-panel-description>
				<mat-icon>{{ operators.icon }}</mat-icon>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-list *ngFor="let pipe of operators.pipes">
			<a [routerLink]="['/pipes', pipe.id]"
				><mat-list-item> {{ pipe.name }} </mat-list-item>
			</a>
		</mat-list>
	</mat-expansion-panel>
</mat-accordion>
