<mat-accordion multi>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title> Combination </mat-panel-title>
			<mat-panel-description>
				<mat-icon>account_circle</mat-icon>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<mat-list>
			<a href="#"><mat-list-item> pipe 1 </mat-list-item> </a>
			<a href="#"><mat-list-item> pipe 2 </mat-list-item> </a>
		</mat-list>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title> Combination </mat-panel-title>
			<mat-panel-description>
				<mat-icon>account_circle</mat-icon>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<mat-list>
			<a href="#"><mat-list-item> pipe 1 </mat-list-item> </a>
			<a href="#"><mat-list-item> pipe 2 </mat-list-item> </a>
		</mat-list>
	</mat-expansion-panel>
</mat-accordion>
