section.home {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

mat-drawer-container {
	flex: 1 0 auto;
	.main-content {
		flex: 1;
		margin-left: 200px;
	}
}

.padding-outlet {
	padding: 20px;
}
