input {
	font-size: 16px;
	font-family: 'Raleway', sans-serif !important;
}

.button-pipes {
	font-size: 16px;
	font-family: 'Raleway', sans-serif !important;
}

mat-option {
	a {
		font-size: 16px;
		font-family: 'Raleway', sans-serif !important;
		text-decoration: none;
		display: block;
		text-align: center;
		color: #2e353a;
		&:hover {
			font-weight: 500;
		}
	}
}
