<mat-toolbar color="primary">
	<button mat-icon-button aria-label="Fechar ou abrir a sidenav" (click)="toggleDrawer()">
		<mat-icon>menu</mat-icon>
	</button>
	<mat-form-field appearance="fill">
		<mat-label ngClass="label">Pesquisar</mat-label>
		<input matInput [matAutocomplete]="auto" #inputSearch aria-label="Pesquisar..." />
		<mat-icon matSuffix>search</mat-icon>
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let option of options" [value]="option">
				{{ option }}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<div>
		<button mat-button class="button-pipes" [matMenuTriggerFor]="menu">Pipes</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>Item 1</button>
			<button mat-menu-item>Item 2</button>
		</mat-menu>
	</div>
</mat-toolbar>
