<mat-toolbar color="primary">
	<button mat-icon-button aria-label="Fechar ou abrir a sidenav" (click)="toggleDrawer()">
		<mat-icon>menu</mat-icon>
	</button>
	<mat-form-field appearance="fill">
		<mat-label>Pesquisar</mat-label>
		<input
			type="text"
			aria-label="Pesquisar...."
			matInput
			[matAutocomplete]="auto"
			#inputRef
			(keyup)="search($event)" />
		<mat-icon matSuffix>search</mat-icon>
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option
				*ngFor="let option of autoCompleteOptions"
				[value]="option"
				(click)="redirectToPipePage(option.pipeId || '')"
				>{{ option.pipeName }}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<div>
		<button mat-icon-button aria-label="Voltar para home" (click)="redirectToPipePage('')">
			<mat-icon>home</mat-icon>
		</button>
	</div>
</mat-toolbar>
