<section *ngFor="let item of pipeFound">
	<div class="row">
		<div class="col-12">
			<ul class="breadcrumbs">
				<li>
					<button mat-raised-button color="primary" [routerLink]="'/home'">
						<mat-icon>home</mat-icon>Home
					</button>
				</li>
				<li>
					<button mat-raised-button [routerLink]="'/home'"><mat-icon>merge</mat-icon>{{ item.group }}</button>
				</li>
				<li>
					<button mat-raised-button disabled><mat-icon>done</mat-icon>{{ item.pipeName }}</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<mat-tab-group (selectedTabChange)="tabSelected($event)">
				<mat-tab label="Explicação"
					><mat-card>
						<mat-card-content>
							<div class="row">
								<div class="col-12">
									<h1>{{ item.pipeName }}</h1>
									<p>{{ item.pipeDescription }}</p>
									<p class="warning">{{ item.pipeObservation }}</p>
									<!-- <div class="links">
										<a
											*ngFor="let link of item.pipeLinks"
											href="{{ link.pipeSiteURL }}"
											target="_blank">
											{{ link.pipeSiteName }}</a
										>
									</div> -->
								</div>
								<div class="col-12">
									<mat-divider></mat-divider>
								</div>
								<div class="col-12">
									<h3>Utilidades</h3>
									<ul class="utilitiesAndTips">
										<li *ngFor="let util of item.pipeUtilities">
											<mat-icon>star</mat-icon><span>{{ util }}</span>
										</li>
									</ul>
								</div>
								<div class="col-12">
									<mat-divider></mat-divider>
								</div>
								<div class="col-12">
									<h3>Dicas</h3>
									<ul class="utilitiesAndTips">
										<li *ngFor="let tip of item.pipeTips">
											<mat-icon>psychology_alt</mat-icon><span>{{ tip }}</span>
										</li>
									</ul>
								</div>
								<div class="col-12">
									<mat-divider></mat-divider>
								</div>
								<div class="col-12">
									<h3>Links úteis</h3>
									<ul class="utilitiesAndTips">
										<li *ngFor="let link of item.pipeLinks">
											<mat-icon>link</mat-icon
											><span
												><a href="{{ link.pipeSiteURL }}" target="_blank">
													{{ link.pipeSiteName }}</a
												></span
											>
										</li>
									</ul>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</mat-tab>
				<mat-tab label="Vídeo">
					<mat-card>
						<mat-card-content>
							<div class="row">
								<div class="col-12 player">
									<youtube-player
										[videoId]="item.pipeVideo"
										suggestedQuality="highres"
										(error)="errorVideo()"></youtube-player>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</mat-tab>
				<mat-tab label="Exemplo (Código)">
					<mat-card>
						<mat-card-content>
							<div class="row">
								<div class="col-12">
									<iframe #iframe type="text/javascript"></iframe>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</section>
