<section *ngFor="let item of pipeFound">
	<div class="row">
		<div class="col-12">
			<ul class="breadcrumbs">
				<li>
					<button mat-raised-button color="primary" [routerLink]="'/home'">
						<mat-icon>home</mat-icon>Home
					</button>
				</li>
				<li>
					<button mat-raised-button [routerLink]="'/home'"><mat-icon>merge</mat-icon>{{ item.group }}</button>
				</li>
				<li>
					<button mat-raised-button disabled><mat-icon>done</mat-icon>{{ item.pipeName }}</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<mat-tab-group>
				<mat-tab label="Explicação"
					><mat-card>
						<mat-card-content>
							<div class="row">
								<div class="col-12">
									<h1>{{ item.pipeName }}</h1>
									<p>{{ item.pipeDescription }}</p>
									<p class="warning" *ngFor="let warning of item.pipeObservation">{{ warning }}</p>
									<a href="{{ item.pipeLinks }}" target="_blank"
										>Documentação oficial - {{ item.pipeName }}</a
									>
								</div>
								<div class="col-12">
									<mat-divider></mat-divider>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</mat-tab>
				<mat-tab label="Vídeo">
					<mat-card>
						<mat-card-content>Vídeo aqui</mat-card-content>
					</mat-card>
				</mat-tab>
				<mat-tab label="Exemplo (Código)">
					<mat-card>
						<mat-card-content>Código aqui</mat-card-content>
					</mat-card>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</section>
