.breadcrumbs {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
	li {
		margin-right: 10px;
		list-style: none;
		button {
			::ng-deep {
				span:nth-child(1) {
					display: flex;
					flex-direction: row;
					align-items: center;
					mat-icon {
						margin-right: 10px;
					}
				}
			}
		}
	}
}
